In [1]:
import pandas as pd

In [106]:
df=pd.read_csv("instagram_reach.csv")

In [107]:
df

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [108]:
df.dtypes

Unnamed: 0            int64
S.No                  int64
USERNAME             object
Caption              object
Followers             int64
Hashtags             object
Time since posted    object
Likes                 int64
dtype: object

In [109]:
df["Time since posted"]=df["Time since posted"].str.replace('hour$|hours$','').astype(int)
df

<ipython-input-109-1485325bbbbc>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Time since posted"]=df["Time since posted"].str.replace('hour$|hours$','').astype(int)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3,109

In [110]:
df=df.drop(['USERNAME'],axis=1)
df=df.drop(['Caption'],axis=1)
df=df.drop(['Hashtags'],axis=1)
df=df.drop(['Unnamed: 0'],axis=1)
df=df.drop(['S.No'],axis=1)

In [111]:
df.dtypes

Followers            int64
Time since posted    int32
Likes                int64
dtype: object

In [112]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [113]:
y=df.Likes
y

0     139
1      23
2      25
3      49
4      30
     ...
95     31
96     42
97     10
98    222
99    109
Name: Likes, Length: 100, dtype: int64

In [114]:
x=df.drop('Likes',axis=1)
x

    Followers  Time since posted
0        1600                 11
1         880                  2
2         255                  2
3         340                  3
4         304                  3
..        ...                ...
95        614                  3
96        450                  3
97        182                  3
98       2039                  3
99        741                  3

[100 rows x 2 columns]

In [141]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [142]:
print("shape of original dataset :", df.shape)
print("shape of input - training set", x_train.shape)
print("shape of output - training set", y_train.shape)
print("shape of input - testing set", x_test.shape)
print("shape of output - testing set", y_test.shape)

shape of original dataset : (100, 3)
shape of input - training set (80, 2)
shape of output - training set (80,)
shape of input - testing set (20, 2)
shape of output - testing set (20,)

In [153]:
predictor = LinearRegression(n_jobs=-1) 
predictor.fit(x_train, y_train)

LinearRegression(n_jobs=-1)

In [154]:
a=[[300,10]]
outcome = predictor.predict(a)

In [155]:
coefficients = predictor.coef_

In [156]:
print('Outcome : {}\nCoefficients : {}'.format(outcome, coefficients))

Outcome : [89.56072757]
Coefficients : [2.73561082e-03 6.98811506e+00]

In [157]:
outcome = predictor.predict(x_test)

In [158]:
coefficients = predictor.coef_

In [159]:
print('Outcome : {}\nCoefficients : {}'.format(outcome, coefficients))

Outcome : [ 33.56006072  47.79890947  33.53270461 196.00604124  39.87385048
  33.32479819  47.59100305  39.3239927   75.39437527  41.50290395
  47.04935211  33.1250986   33.50808411  97.18623994  50.73148427
  35.10020961  35.68289471  33.28923525  34.50384645  46.84691691]
Coefficients : [2.73561082e-03 6.98811506e+00]

In [160]:
from sklearn.metrics import mean_squared_error

In [163]:
y_pred=outcome
tt=mean_squared_error(y_test,y_pred)

In [164]:
t=round(tt,2)

In [165]:
t

1928.64